p {
  font-family: Lato;
  font-size: 16px;
}
.logo {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
.logo img {
  max-height: 16px;
}
.logo h1 {
  margin: 0;
}
.header {
  border: 2px solid red;
  padding: 0 2%;
  padding-bottom: 2%;
}
button {
  border-radius: 0.5rem;
}

